/* Globalne style */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #D1D1D1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#form_div{
    //background-color: aqua;
    width: 500px;
}

/* Style dla formularza */
form {
    margin-bottom: 20px;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #333;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #555;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background .2s ease-in-out;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background-color: #555;
}

#desc_in{
    padding: 5px;
    margin: 10px;
}

/* Podnagłówki */
h2 {
}

/* Menu */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #333333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: aqua;
}

/* Autor aplikacji */
p {
    margin-bottom: 20px;
}
